<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Tazos!</title>
    <link href="../assets/styles/header.css" rel="stylesheet" type="text/css" />
    <link
      href="../assets/styles/solicitudes.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body>
    <div class="wrapper">
      <div id="nav-placeholder"></div>
      <main class="contenido">
        <h1>ERROR 404</h1>
      </main>
      <footer class="page-footer">
        <div class="logo"></div>
      </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../assets/scripts/navbar.js"></script>
    <script src="../assets/scripts/partidas.js"></script>
  </body>
</html>
