<!DOCTYPE html>
<html>
  <head>
    <meta
      http-equiv="Content-Security-Policy"
      content="upgrade-insecure-requests"
    />

    <meta charset="utf-8" />
    <title>Tazos!</title>
    <link
      href="../assets/styles/registro.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="../assets/styles/header.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="wrapper">
      <div id="nav-placeholder"></div>
      <main class="contenido">
        <h2>Registrar nuevo usuario</h2>
        <form name="form-registro">
          <p>Nombre de usuario:</p>
          <input type="text" id="nombre-usuario" class="input" />
          <p>Email:</p>
          <input type="text" id="email" class="input" />
          <p>Contraseña:</p>
          <p id="observacion">
            Debe tener al menos una mayúscula,<br />
            una minúscula y un valor numérico.
          </p>
          <input type="password" id="password" class="input" />
          <p>Confirmar contraseña:</p>
          <input type="password" id="password2" class="input" /><br />
          <div class="div-boton">
            <!--<a type="submit" href="landing_page_logged.html" class="boton" id="submit-boton">
                            Registrar usuario</a>-->
            <input
              id="submit-boton"
              type="reset"
              class="boton"
              value="Registrar usuario"
            />
          </div>
        </form>
      </main>
      <footer class="page-footer">
        <div class="logo"></div>
      </footer>
    </div>
    <script src="../assets/scripts/registro.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../assets/scripts/navbar.js"></script>
  </body>
</html>
