html, body{height: 100%;}

body{background-color: #F2E3D5; 
    margin:0;
    padding:0; 
    display: flex;
    flex-direction: column;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
    Helvetica, Arial, "Lucida Grande", sans-serif;
}

.contenido{background-color: #F2E3D5; 
    color: #73666F; 
    padding:25px;
    flex-grow: 1;
    text-align: center;
    margin-top: 110px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.boton{
    margin: 7px 2px;
    padding: 7px 20px;
    border-radius: 15px;
    background-color:#8C281F;
    border: black;
    color: ivory;
    text-align: center;
    font-size: small;
    text-decoration: none;
}

#password2{margin-bottom: 20px;}

#contenedor{
    min-height: 100%;
    position: relative;
}

h2 {text-align: center;}

.boton:hover {
    cursor: pointer;
    color: gold;
}

.boton:active{
    color: black;
}

.div-boton{margin: 20px;}

#observacion{font-size: smaller;}